#account_heading {
  position: absolute;
  width: 70%;
  top: 30px;
  left: 15%;
  height: 130px;
  text-align: center;
  font-family: "Heebo", sans-serif;
  padding-top: 15px;
  padding-bottom: 5px;
}
/* width */
#account_details_container::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0.378);
  width: 10px;
}
/* Track */
#account_details_container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.378);
}

/* Handle */
#account_details_container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.378);
}

/* Handle on hover */
#account_details_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#account_details_container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.378);
  border-radius: 0 0 5px 5px;
  width: 70%;
  height: 400px;
  overflow-y: scroll;
  left: 15%;
  top: 250px;
  scrollbar-width: 5px;
}

#accountTitle {
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 3em;
}

#accountNumber {
  color: rgb(202, 202, 202);
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.summary_label {
  color: rgb(202, 202, 202);
  font-weight: 400;
  font-size: 1em;
}

.summary_value {
  color: rgb(202, 202, 202);
  font-weight: 400;
  font-size: 1.1em;
}

.transaction {
  padding: 1%;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.778);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 100%;
  height: auto;
  width: 98%;
  transition: all 0.2s;
}

.transaction:hover {
  background-color: rgba(0, 0, 0, 0.873);
  cursor: pointer;
  font-weight: 600;
}

.type {
  color: white;
  text-align: center;
}

.removed {
  text-align: left;
  color: red;
}

.added {
  text-align: left;
  color: rgb(43, 255, 0);
}

.date {
  color: white;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  #accountTitle {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 2em;
  }

  #account_details_container {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    left: 0%;
    top: 250px;
  }

  #account_heading {
    position: absolute;
    width: 70%;
    top: 0px;
    left: 15%;
    height: 130px;
    text-align: center;
    font-family: "Heebo", sans-serif;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .transaction {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.778);
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    height: auto;
    width: 98%;
    transition: all 0.2s;
  }
}
