#top_nav_container {
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100%;
  height: auto;
  background-color: rgba(56, 56, 56, 0.583);
  color: white;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
}

.btn {
  font-size: 0.9em;
  text-align: center;
  line-height: 15px;
  padding-bottom: 3.5%;
  transition: all 0.7s;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}

.active_btn {
  background-color: rgba(32, 32, 32, 0.639);
}

.inactive_btn {
  opacity: 0.5;
}

img {
  padding-top: 10px;
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 600px) {
  #top_nav_container {
    top: auto;
    bottom: 0px;
    width: 100%;
    height: auto;
    background-color: rgba(56, 56, 56, 0.7);
  }

  .btn {
    font-size: 0.6em;
    text-align: center;
    line-height: 15px;
    padding: 10%;
    color: white;
  }

  img {
    padding-top: 5%;
    width: 35px;
    height: 35px;
  }
}
