#transfer_container {
  width: 50vw;
  height: auto;
  margin-left: 25vw;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

#transfer_container h3 {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
  color: white;
}

#dollarSign {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#transfer_container input,
select {
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(84, 161, 250, 0.5);
  color: white;
  border: none;
  border-radius: 2.5px;
  margin-bottom: 10px;
  font-size: 1.2em;
  padding: 8px;
  width: auto;
}

#amount_field {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

#amount_field ::placeholder {
  color: white;
  opacity: 0.55;
}

#transfer_btn {
  transition: background-color 0.7s;
}

#transfer_btn:hover {
  background-color: rgba(29, 226, 3, 0.8);
  cursor: pointer;
}

.transfer_message_container {
  width: 40%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: white;
  text-align: center;
}

#new_transfer_btn {
  background-color: rgba(255, 255, 255, 0.2);
}

#new_transfer_btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#return_home_btn {
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 5px;
}

#return_home_btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

#confirmation_message {
  font-size: 1.3em;
  font-family: "Heebo", sans-serif;
  font-weight: 400;
}

.transfer_funds_btn {
  width: 30%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.8s;
  font-size: 1.5em;
  font-family: "Heebo", sans-serif;
}

.transfer_funds_btn:hover {
  cursor: pointer;
}

#transfer_funds_confirm_btn {
  background-color: rgba(47, 194, 34, 0.35);
  margin-bottom: 5px;
}

#transfer_funds_confirm_btn:hover {
  background-color: rgb(47, 194, 34, 0.8);
}

#transfer_funds_cancel_btn {
  background-color: rgba(252, 0, 0, 0.35);
  margin-bottom: 5px;
}

#transfer_funds_cancel_btn:hover {
  background-color: rgb(252, 0, 0, 0.8);
}

.transfer_complete_btn {
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
  border-radius: 5px;
  color: white;
  transition: background-color 0.8s;
  font-size: 1.2em;
  font-family: "Heebo", sans-serif;
}

.transfer_complete_btn:hover {
  cursor: pointer;
}

#transfer_complete_message {
  font-size: 3em;
  font-weight: 200;
}

.animation_container {
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  color: black;
  font-size: 2em;
  text-align: center;
  border-radius: 5px;
}
