body {
  margin: 0;

  background-color: black;
  background-image: url("./images/iceland.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.coming_soon {
  color: white;
  text-align: center;
  font-size: 3em;
  padding: 200px;
}

.main_content_container {
  position: absolute;
  top: 100px;
  width: 100vw;
  height: auto;
  /* background-image: radial-gradient(circle, red, yellow, green); */
}

.contentChange-enter {
  opacity: 0;
}

.contentChange-enter.contentChange-enter-active {
  opacity: 1;
  transition: all 0.5s 0.5s;
}

.contentChange-exit {
  opacity: 1;
}

.contentChange-exit.contentChange-exit-active {
  opacity: 0;
  transition: all 0.5s;
}
