.confirmation_container {
  margin-left: 20%;
  height: 600px;
  width: 60%;
  text-align: center;
}

.page_title {
  height: auto;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
  color: white;
  overflow: hidden;
  margin-bottom: 70px;
  margin-top: 30px;
}

.sub_label {
  font-weight: 200;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.main_label {
  font-weight: 600;
  font-size: 3.5em;
  color: white;
  margin-bottom: 50px;
  text-align: center;
}
